.main-header {
    color:darkred;
    background-image: url(starPhoto.jpg);
    background-color: black;
    padding: 2em;
    text-align: right;
    image-rendering: url(milfal.png);
    image-orientation: right;
}
